.search-table
	margin-x auto
	display block
	width 1170px

	&__body
		display block
		width 100%

	&__row:not(&__row_header)
		border-style solid
		border-color color-dividers
		border-top-width 1px
		border-left-width 0
		border-right-width 0
		border-bottom-width 0

	&__cell
		padding-y 15px
		font-size 13px
		line-height 20px
		color brand-gray

		&:first-child
			position relative
			padding-left 45px

		&:first-child:not(&_header)
			font-weight 600

		&_header
			padding-y 16px
			line-height 18px
			color brand-gray-disabled

	&__icon
		position absolute
		top calc(50% - 8px)
		left 7px
