include ../icon/icon
include ../rating/rating

mixin table-row({icon, data: [title, composer, form, instrument, period, rating]})
	+b('tr').search-table__row
		+b('td').search-table__cell(width='392px')
			+e.icon
				+icon(icon)(width='15px' height='15px')
			!= title
		+b('td').search-table__cell(width='239px')= composer
		+b('td').search-table__cell(width='127px')= form
		+b('td').search-table__cell(width='185px')= instrument
		+b('td').search-table__cell(width='150px')= period
		+b('td').search-table__cell(width='77px')
			+rating(rating)

mixin search-table()
	+b('table').search-table&attributes(attributes)
		+e('thead').head(align='left')
			+e('tr').row_header
				+e('th').cell_header(width='392px') Title
				+e('th').cell_header(width='239px') Composer
				+e('th').cell_header(width='127px') Form
				+e('th').cell_header(width='185px') Instrument
				+e('th').cell_header(width='150px') Period
				+e('th').cell_header(width='77px') Rating
		+e('tbody').body(align='left')
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '1']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '2']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '3']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '4']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '5']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '3']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '3']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '3']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '3']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '3']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '3']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '3']})
			+table-row({ icon: 'sheet', data: ['Organ Symphony', 'Denis Pisarevsky', 'Symphony', 'Organ', '21st Century', '3']})
			+table-row({ icon: 'note', data: ['Symphony in D minor', 'César Franck', 'Symphony', 'String Quartet', 'Romantic', '3']})
		block
