.pagination
	display flex
	align-items center

	&__link
		width 77px
		text-align center

		&:first-child
			margin-right 61px

		&:last-child
			margin-left 61px

	&__info
		text-align center

	&__pages
		margin-bottom 5px
		font-size 13px
		line-height 20px
		color brand-gray

	&__results
		font-size 11px
		line-height 20px
		color brand-gray-disabled
