include ../button/button

mixin pagination()
	+b.pagination&attributes(attributes)
		+e.link
			+button('a')._link._small(href='/') « Prev
		+e.info
			+e.pages Page 2 of 13
			+e.results Showing 27 out 142 Results
		+e.link
			+button('a')._link._small(href='/') Next »
		block
