.button
	padding-top 11px
	padding-bottom 12px
	display block
	font-size 13px
	font-weight 600
	line-height 18px
	color white
	background-color brand-blue
	border none
	border-radius 2px

	&&_link:hover
		text-decoration none
		color white

	&_small
		padding-y 6px

	&:active,
	&_active
		background-color brand-blue-shade

	&_outline
		padding-top 10px
		padding-bottom 11px
		color brand-blue
		background-color white
		border 1px solid brand-blue

	&_outline&_small
		padding-y 5px

	&_outline&_active
		color brand-blue-shade
		background-color brand-blue-tint

	&_secondary
		background-color brand-aqua

	&_secondary:active,
	&_secondary&_active
		background-color brand-aqua-shade

	&_secondary&_outline
		color brand-aqua
		background-color white
		border 1px solid brand-aqua

	&_secondary&_outline&_active
		color brand-aqua-shade
		background-color brand-aqua-tint

	&_red
		background-color error-red

	&_red:active,
	&_red&_active
		background-color error-red-shade

	&_red&_outline
		color error-red
		background-color white
		border 1px solid error-red

	&_red&_outline&_active
		color error-red-shade
		background-color error-red-tint

	&_disabled
		color white
		background-color brand-gray-disabled
		border none

	&_disabled&_outline
		color brand-gray-disabled
		background-color white
		border 1px solid brand-gray-disabled

	&_filter
		display flex
		align-items center

	&__text_filter
		margin-left 8px

	&_small-paddings,
	&_filter
		padding-x 15px
