body
	font-family OpenSans

h1,
h2,
h3,
h4
	font-family SourceSansPro
	color brand-gray

h1
	font-size 32px
	line-height 36px

h2
	font-size 26px
	line-height 30px

h3
	font-size 18px
	line-height 24px

h4
	font-size 16px
	line-height 22px

a
	font-size 13px
	line-height 20px
	text-decoration none
	color brand-blue

	&:hover
		text-decoration underline
		color brand-blue-shade

	&_disabled
		color brand-blue-tint
