@font-face
	font-family 'NSSF display'
	src url('../../fonts/sfns-display.woff2') format('woff2'),
		url('../../fonts/sfns-display.woff') format('woff')
	font-weight normal

@font-face
	font-family 'NSSF display'
	src url('../../fonts/sfns-display-bold.woff2') format('woff2'),
		url('../../fonts/sfns-display-bold.woff') format('woff')
	font-weight bold
