rupture.scale =        0        320px       767px      1023px        1439px     1580px

//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘
// Slice numbers:           1           2           3           4           5           6
// rupture.scale-names:          'xs'        's'         'm'         'l'         'xl'       'hd'
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'


brand-gray = #41474C
brand-blue = #2898D1
brand-blue-shade = #0F75A8
brand-blue-tint = #E5F2F9
brand-gray-disabled = #999
brand-aqua = #30AB98
brand-aqua-shade = #178272
brand-aqua-tint = #E3F0EE
color-dividers = #E0E0E0
error-red = #EA172A
error-red-shade = #B81C1C
error-red-tint = #FBE7E7
color-page-background = #F5F7F7
confirmation-green = #57A900
confirmation-green-shade = #427F00
confirmation-green-tint = #F3F9EB
color-white = #FFF
warning-yellow = #F0C200
warning-yellow-shade = #C7A300
warning-yellow-tint = #FFFBEB

OpenSans = 'Open Sans', 'Arial', sans-serif
NSSF = 'NSSF display', 'Arial', sans-serif
