.search
	position relative
	display block
	width 100%

	&__search-icon
		position absolute
		top 13px
		left 13px

	&__search-input
		padding-top 11px
		padding-right 16px
		padding-left 39px
		padding-bottom 12px
		display block
		width calc(100% - 59px)
		font-size 13px
		line-height 18px
		border 1px solid color-dividers

		&::placeholder
			color brand-gray-disabled
