extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/content-wrapper/content-wrapper
include /blocks/page-title/page-title
include /blocks/search-page/search-page

block head
	- var pageTitle = 'Musopen';

block content
	+content-wrapper
		+header({
			isLogged: true,
			isSearching: true,
			isMain: true,
			userLetter: 'M'
		})
	+search-page
