extends /blocks/layout-default/layout-default
include /blocks/content-wrapper/content-wrapper
include /blocks/page-title/page-title
include /blocks/search-page/search-page

block head
	- var pageTitle = 'Musopen - Search';

block content
	+search-page
