include ../tabs/tabs
include ../button/button
include ../icon/icon
include ../search-table/search-table
include ../pagination/pagination
include ../footer/footer

mixin search-page()
	+b.search-page&attributes(attributes)
		block
		+content-wrapper
			+page-title('Search')
				+tabs
				+button()._filter._small
					+icon('settings')(width='17px' height='13px')
					+e.text._filter Search Filters
		+search-table
		+e.pagination
			+pagination
		+b.footer-wrapper
			+footer
