include ../icon/icon

mixin tabs()
	+b('ul').tabs&attributes(attributes)
		block
		+e('li').tabs-item
			+e('a').tabs-link._active All
		+e('li').tabs-item
			+icon('sheet')(width='15px' height='15px')
			+e('a').tabs-link(href='/') Sheet Music
		+e('li').tabs-item
			+icon('note')(width='15px' height='15px')
			+e('a').tabs-link(href='/') Recordings
