.tabs
	margin-right 15px
	display flex

	&__tabs-item
		padding-x 15px
		padding-y 3px
		display flex
		align-items center

		&:nth-child(2)
			border-style solid
			border-color color-dividers
			border-top-width 0
			border-left-width 1px
			border-right-width 1px
			border-bottom-width 0

	&__tabs-link
		margin-left 10px
		font-weight 600

		&_active
			color brand-gray
