include ../icon/icon
include ../search/search
include ../content-wrapper/content-wrapper

mixin header({ isMain, isLogged, isSearching, userLetter })
	+b('header').header&attributes(attributes)
		block
		+e.logo
			if isMain
				+icon('logo')(width='185px' height='24px')
			else
				a(href='index.html')
					+icon('logo')(width='185px' height='24px')

		if isSearching
		+e.search-wrapper
			+search

		+e('nav').nav
			+e('ul').nav-list
				+e('li').nav-item
					+e('a').nav-link(href='/') Music
				+e('li').nav-item
					+e('a').nav-link(href='/') Sheet music
				+e('li').nav-item
					+e('a').nav-link(href='/') Raio
				+e('li').nav-item
					+e('a').nav-link(href='/') Education

			if isLogged
				+e.user-block
					+e.user-icon
						+e('a').user-link(href='/')= userLetter
