.header
	padding-x 135px
	padding-y 17px
	display flex
	align-items center
	border 1px solid color-dividers

	&__search-wrapper
		margin-right 33px
		margin-left 24px
		flex-grow 1

	&__nav
		margin-left auto
		display flex
		align-items center

	&__nav-list
		display flex
		flex-shrink 0

	&__nav-item
		&:nth-child(1)
			margin-right 30px

		&:nth-child(2)
			margin-right 38px

		&:nth-child(3)
			margin-right 37px

	&__nav-link
		font-weight 600
		text-transform uppercase
		color brand-gray

		&_active
			color brand-blue-shade

	&__user-block
		margin-left 32px

	&__user-icon
		display block
		size 39px
		text-align center
		background-color #3FDEC6
		border-radius 50%

	&__user-link
		font-size 16px
		line-height 39px
		color white
