.footer
	margin-x auto
	padding-bottom 65px
	display flex
	max-width 1170px

	&-wrapper
		margin-top auto
		padding-top 71px
		border-style solid
		border-color color-dividers
		border-top-width 1px
		border-left-width 0
		border-right-width 0
		border-bottom-width 0

	&__social
		margin-right 190px

	&__nav-list
		display flex

	&__nav-item
		&:nth-child(1)
			margin-right 157px

		&:nth-child(2)
			margin-right 173px

		&:nth-child(3)
			margin-right 159px

	&__nav-heading
		margin-bottom 11px
		display block
		font-size 13px
		font-weight bold
		line-height 20px
		text-transform uppercase

	&__nav-link
		display block
		font-size 13px
		line-height 24px
		color brand-gray
