include ../icon/icon

mixin rating(stars)
	+b.rating&attributes(attributes)
		block
		- for (var x = 0; x < stars; x++)
			+icon('star_filled')(width='12px' height='12px')
		- for (var x = 5 - stars; x > 0; x--)
			+icon('star')(width='12px' height='12px')
